.movieRow{
    margin-bottom: 30px;

}
.movieRow h2{
     margin: 0 0 0 30px;
}

.movie-row-area{
    overflow-x: hidden;
     
}

.movieRow--list{
 width: 99999px;
 padding-left: 30px;
}
.movieRow--item{
    display: inline-block;
    width: 150px;
    

}

.movieRow--item img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
    cursor: pointer;
    
}

.movieRow--item img:hover{
   
    transform: scale(1);
    
}